@import "tailwindcss";

/* Variables personalizadas opcionales */
@theme {
  --font-family-sans: system-ui, -apple-system, sans-serif;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}